<h1> EJERCICIO 6 </h1>

A continuación aparece una lista de las comisiones (en miles de dólares) que se percibieron el año pasado los representantes de ventas de una empresa:

<table><thead><tr><th>Comisiones (en miles de dolares)</th><th>Representantes de Ventas </th></tr></thead><tbody><tr><th>3.9</th><td>17.4 </td></tr><tr><th>5.7</th><td>17.6 </td></tr><tr><th>7.3</th><td>22.3 </td></tr><tr><th>10.6</th><td>38.6 </td></tr><tr><th>13</th><td>43.2 </td></tr><tr><th>13.6</th><td>87.7 </td></tr><tr><th>15.1</th><td></td></tr><tr><th>15.8</th><td></td></tr><tr><th>17.1</th><td></td></tr></tbody></table>

In [1]:
import pandas as pd

In [4]:
#Creamos el Data Frame

data={'Comisiones (en miles de dolares)':[3.9,5.7,7.3,10.6,3.0,13.6,15.1,15.8,17.1],
     'Representantes de Ventas': [17.4,17.6,22.3,38.6,43.2,87.7,0,0,0]}

df=pd.DataFrame(data)
print(df)

   Comisiones (en miles de dolares)  Representantes de Ventas
0                               3.9                      17.4
1                               5.7                      17.6
2                               7.3                      22.3
3                              10.6                      38.6
4                               3.0                      43.2
5                              13.6                      87.7
6                              15.1                       0.0
7                              15.8                       0.0
8                              17.1                       0.0

In [10]:
rven=df['Representantes de Ventas']
media=rven.mean()
print(media)

mediana=rven.median()
print(mediana)

std_dev=rven.std()
print(std_dev)

25.200000000000003
17.6
28.37679509740309